
.msgcontainer{

  background-color: rgb(40, 39, 39);
  color: aliceblue;
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);

  border-radius: 25px;
    border: 5px solid;
    margin:50px 50px 50px;
    width: 40%;
    padding:50px;
  }
  .notcontainer{

    background-color: rgb(230, 131, 131);
    color: aliceblue;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
  
    border-radius: 25px;
      border: 5px solid;
      margin:-250px 50px auto 750px;
      width: 40%;
      padding:20px;
    }
 
    .mainddiv {
      background-image: url('../img/adbg.jpg');
      background-size: cover; /* Adjust as needed */
      background-repeat: no-repeat; /* Adjust as needed */
      background-position: center center; /* Adjust as needed */
    }