
.regcontainer{
     width:750px;
     height: auto;
      border: solid 1px #555;
      background-color: rgb(72, 19, 2);
      color: aliceblue;
      box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
     
      padding-top: 5px;
      padding-bottom: 5px;
      /* margin-top: 200px ; 
   margin-bottom: 200px;
   margin-bottom: 200px; */
   margin: 50px 50px 50px 300px;
   border-radius: 25px;
   
}
h1{
    font-style: italic;
    margin-left: 230px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    font-style: italic;
    margin-left: 250px;
    margin-top: 20px;
}
.centered-form{
	
    margin: 120px;
    margin-top:-3px;
}
.regbtn{
    color: rgb(12, 10, 0);
    margin-top:-1px;
    background-color: aliceblue;
    margin-left:160px;
    width: 120px;
    
}
